В данном Jupyter будет рассмотрен популярный набор данных с сайта [Kaggle](https://www.kaggle.com/competitions/titanic).  
Датасет состоит из трёх файлов в формате .csv: train.csv - состоящий из признаков и целевого столбца 'Survived', файла test.csv - где есть только признаки, и нужно предсказать целевую переменную 'Survived' для каждого 'PassengerId'.
Третий файл gender_submission.csv является демонстрацией корректного выходного файла для проверяющей системы на сайте. 
    
Для корректного отображения графических объектов (например диаграмм Plotly) блокнот рекомендуется просматривать в [nbviewer](https://nbviewer.org/github/m4gical/datasets/blob/main/Titanic/Titanic.ipynb).

Импортируем необходимые бибилиотеки:

In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn import model_selection

from sklearn import linear_model
from sklearn import model_selection
from sklearn import tree
from sklearn import ensemble
from sklearn import metrics

Положим файлы в перменные:

In [2]:
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
example_df = pd.read_csv('gender_submission.csv')

Данный должны быть выведены в следующем виде:

In [3]:
example_df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [4]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
df_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Три стобца имеют значения NA.

Двумя записями с NA признаком в столбце 'Embarked' можно пренебречь:

In [8]:
df = df.dropna(subset = ['Embarked'])

Признак 'Cabin' - номер каюты, отсутствует более чем на половину, логичнее всего его попросту убрать из рассмотрения как в обучающем, так и в тестовом наборе.
Также стоит отбросить признаки 'Name' и 'Ticket' как не содержащие значущую информацию:

In [9]:
df = df.drop(columns=['Cabin', 'Name', 'Ticket'])
df_test = df_test.drop(columns=['Cabin', 'Name', 'Ticket'])

Сделаем следующие признаки категориальными:

In [10]:
le = preprocessing.LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df['Embarked'] = le.fit_transform(df['Embarked'])

df_test['Sex'] = le.fit_transform(df_test['Sex'])
df_test['Embarked'] = le.fit_transform(df_test['Embarked'])

In [11]:
df['Pclass'] = df['Pclass'].astype('category')
df['Sex'] = df['Sex'].astype('category')
df['Embarked'] = df['Embarked'].astype('category')
df['Survived'] = df['Survived'].astype('category')

df_test['Pclass'] = df_test['Pclass'].astype('category')
df_test['Sex'] = df_test['Sex'].astype('category')
df_test['Embarked'] = df_test['Embarked'].astype('category')

In [12]:
enc = preprocessing.OneHotEncoder(sparse_output = False)
encoded = enc.fit_transform(df[['Pclass','Embarked']])

In [13]:
df = df.drop(columns = ['Pclass', 'Embarked'])

In [14]:
df = df.reset_index(drop=True)

In [15]:
df = pd.concat([df, pd.DataFrame(encoded, columns=enc.get_feature_names_out(['Pclass', 'Embarked']))], axis = 1)

In [16]:
enc = preprocessing.OneHotEncoder(sparse_output = False)
encoded = enc.fit_transform(df_test[['Pclass','Embarked']])
df_test = df_test.drop(columns = ['Pclass', 'Embarked'])
df_test = df_test.reset_index(drop=True)
df_test = pd.concat([df_test, pd.DataFrame(encoded, columns=enc.get_feature_names_out(['Pclass', 'Embarked']))], axis = 1)

In [18]:
df = df.dropna(subset = ['Age'])

In [17]:
df = df.drop(columns = ['PassengerId'])

In [19]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(df.drop(columns = ['Survived']), df['Survived'], test_size=0.20, random_state=5)

In [20]:
regressors = {'Logistic Regression': linear_model.LogisticRegression(), 
              'Decision Tree': tree.DecisionTreeClassifier(),
              'Random Forest': ensemble.RandomForestClassifier(n_estimators = 100, criterion = 'log_loss'),
              'Gradient Boosting Classifier' : ensemble.GradientBoostingClassifier()}

In [21]:
for name, model in regressors.items():
    model.fit(X_train, y_train)
    y_predicted = model.predict(X_test)
    score = round(metrics.accuracy_score(y_predicted, y_test), 2)
    print(f'{name} has score = {score:.2f}')

D:\Programs\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression has score = 0.82
Decision Tree has score = 0.77
Random Forest has score = 0.84
Gradient Boosting Classifier has score = 0.80

In [26]:
df_test

,PassengerId,Sex,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_0,Embarked_1,Embarked_2
0,892,1,34.5,0,0,7.8292,0.0,0.0,1.0,0.0,1.0,0.0
1,893,0,47.0,1,0,7.0000,0.0,0.0,1.0,0.0,0.0,1.0
2,894,1,62.0,0,0,9.6875,0.0,1.0,0.0,0.0,1.0,0.0
3,895,1,27.0,0,0,8.6625,0.0,0.0,1.0,0.0,0.0,1.0
4,896,0,22.0,1,1,12.2875,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,1,NaN,0,0,8.0500,0.0,0.0,1.0,0.0,0.0,1.0
414,1306,0,39.0,0,0,108.9000,1.0,0.0,0.0,1.0,0.0,0.0
415,1307,1,38.5,0,0,7.2500,0.0,0.0,1.0,0.0,0.0,1.0
416,1308,1,NaN,0,0,8.0500,0.0,0.0,1.0,0.0,0.0,1.0
417,1309,1,NaN,1,1,22.3583,0.0,0.0,1.0,1.0,0.0,0.0

In [28]:
df_test_X = df_test.drop(columns = ['PassengerId'])

In [31]:
best_model = regressors['Logistic Regression']
best_model.fit(X_train, y_train)
predicted = best_model.predict(df_test_X)

D:\Programs\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

ValueError: Input X contains NaN.
LogisticRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values